/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100px;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul li {
  display: inline;
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */

form {
  border: 2px solid #ff385c;
  padding: 10px;
  max-width: 100%;
}

form label {
  font-weight: bold;
  display: block;
}

form select,
form input {
  margin-bottom: 20px;
  width: calc(100% - 20px);
  box-sizing: border-box;
}

.item,
.item-double {
  margin: 10px 0;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: calc(100% - 20px);
  box-sizing: border-box;
  cursor: pointer;
}

.form-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.form-field label {
  width: 30%;
  flex-shrink: 0;
  text-align: right;
  margin-right: 10px;
  text-align: left;
}

.form-field input,
.form-field select {
  flex-grow: 1;
  flex-basis: 0;
  padding: 10px;
  border: 1px solid #ccc;
}

.form-field input[type='date'],
.form-field select {
  padding: 10px;
  margin-left: 10px;
}

.form-field label,
.form-field input,
.form-field select {
  height: 40px;
  padding: 0 10px;
  box-sizing: border-box;
}


form button {
  width: 100%;
  padding: 12px 20px;
  background-color: #ff385c;
  color: white;
  border: none;
  cursor: pointer;
}

form button {
  margin-top: 10px;
}

/* -------  About ------- */

#about img {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

#about img:last-child {
  margin-bottom: 0;
}

#about p {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/* -------  Ideas ------- */

#ideas img {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

#ideas img:last-child {
  margin-bottom: 0;
}

#ideas h3 {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/* -------  Host ------- */

#host h2 {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#host img {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

#host p,
ul {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
@media all and (min-width: 768px) {

  /* Header */

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
  }

  header h1 {
    margin: 14px 0;
    padding-top: 0;
  }

  header nav {
    margin-top: 0px;
  }

  header nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  header nav ul li {
    margin-right: 10px;
  }

  header nav ul li:last-child {
    margin-right: 0;
  }

  /* Search form */
    
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }

  .form-field {
    flex-basis: 100%;
    max-width: 200px; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .form-field input,
  .form-field select,
  form button {
    width: 100%;
  }

  form button {
    padding: 10px, 10px;
    margin-top: 25%;
  }

  /* About */

  #about h2 {
    margin-bottom: 20px;
  }

  .content-section {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .image-section {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    width: 50%;
  }

  .image-section img {
    flex: 1;
    max-width: calc(50% - 10px);
    height: auto;
  }

  .text-section {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    width: 50%;
  }

  #about p {
    width: 100%;
  }

  /* -------  Ideas ------- */

  #ideas .content-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
  }

  #ideas h2 {
    margin-bottom: auto;
  }
  
  .category {
    flex-basis: calc(50% - 10px);
    box-sizing: border-box;
  }
  
  .category img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
  }
  
  .category h3 {
    text-align: center;
    margin-bottom: 20px;
  }

  /* -------  Host ------- */

  #host {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #00a699;
  }
  
  #host .text-section {
    width: 50%;
    padding-right: 20px;
  }
  
  #host img {
    width: 50%;
  }
  
  #host .image-section {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }
  
  #host .image-section img {
    max-width: 100%;
    height: auto;
  }
  
  #host ul {
    list-style-position: inside;
    padding-left: 0;
  }

  #host ul {
    list-style-position: outside;
    padding-left: 20px;
  }
  
  #host li {
    margin-bottom: 10px;
    text-align: left;
    padding-left: 0;
  }
}
